@tailwind base;
@tailwind components;
@tailwind utilities;


.content{
    position:absolute;
    margin-top: 20%;

}
.content h1, .lead{
    color: #2b2b2b;

}
.titleDark{
    color:#e2ebf0 ;
}
body, html {
    margin: 0 auto;
    padding: 0;
    scrollbar-width: thin;
}


.section {
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    text-align: center;
    font-family: sans-serif, arial;
    margin: 0;
}
.Psection {
    min-height: 750px;
    max-height: 750px;
    position: relative;
    text-align: center;
    font-family: sans-serif, arial;
    margin: 0;
}

h1, p, a {
    font-family: sans-serif, arial;
    font-weight: bold;
}

.text-wr {
    max-width: 960px;
    margin: 0 auto;
}
.container{
    justify-content: center;
    display: flex;

}

#background-video {
    max-width: 100% ;
    z-index: 1;

}

#section2 {
    background-image: linear-gradient(to left bottom, #f4f4f4, #d9d9da, #c0bebf, #a8a4a5, #908b8b);}
#section2 , p{
    color: #2b2b2b;
}
#section2 , h1{
    color: #2b2b2b;
}

#section3 {
background: #2b2b2b  ;
    color: #686e7c;
}
.bg-custom{
    background: #2c3e50  ;

}
#section4 {
    background-image: linear-gradient(to left bottom, #f4f4f4, #d9d9da, #c0bebf, #a8a4a5, #908b8b);    /*
    background: #1b1c1e;
    */
    color: #aeb9b9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 25px;
}
/*Contact form*/

.wrap-contact2 {
    width: 790px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 72px 55px 90px 55px;
}
